<mat-card class="container">
    <h1>Fahrt hinzufügen</h1>
    <mat-card-content class="add-drive">
      <div class="form-container">
        <mat-form-field>
          <mat-label>Datum</mat-label>
          <input matInput [matDatepicker]="picker" placeholder="Choose a date" [ngModel]="selectedDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Ziel</mat-label>
          <input matInput [(ngModel)]="destination" type="text">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Betrag</mat-label>
          <input matInput [(ngModel)]="amount" type="number">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Zahlungsmethode</mat-label>
          <mat-select [(ngModel)]="selectedOption">
            <mat-option *ngFor="let option of options" [value]="option.value">{{option.label}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card-content>
    <div class="submitButton">
      <button mat-raised-button color="primary" type="button" (click)="save()">Speichern</button>
    </div>
  </mat-card>
  <app-bottom-nav-bar></app-bottom-nav-bar>
  