body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: #FFDB00;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-drive {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.form-container {
  align-items: center;
  height: 48px;
}

mat-form-field {
  margin-right: 16px;
  margin-top: 20px;
}

button {
  height: 100%;
  width: 120px;
  background-color: black !important;
  color: white;
  padding: 0 16px;
}

.add-drive {
  height: calc(100% - 48px);
}

label {
  display: block;
  margin-top: 16px;
}
