<mat-card class="container">
    <h1>Fahrt hinzufügen</h1>
    <mat-card-content class="add-drive">
      <div class="form-container">
        <mat-form-field>
          <input matInput placeholder="Zeit" [(ngModel)]="time" type="time">
        </mat-form-field>
        <button mat-raised-button color="primary" type="button" (click)="setNewDate()">JETZT!</button>
        <mat-form-field>
          <input matInput placeholder="Ziel" [(ngModel)]="destination" type="text">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Betrag" [(ngModel)]="amount" type="number">
        </mat-form-field>
        <mat-form-field>
          <mat-select [(ngModel)]="selectedOption">
            <mat-option *ngFor="let option of options" [value]="option.value">{{option.label}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card-content>
    <div class="submitButton">
      <button mat-raised-button color="primary" type="button" (click)="save()">Speichern</button>
    </div>
  </mat-card>
  <app-bottom-nav-bar></app-bottom-nav-bar>
  