<div class="page-container">
  <div class="top-section">
    <mat-card class="circle-card">
      <mat-card-header class="mat-card-header-text">
        <mat-card-title class="mat-card-title-center">{{ avatarText }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
    </mat-card>    
  </div>
  <div class="bottom-section">
    <!-- unterer Abschnitt mit Material Card -->
    <div class="profil-infos">
      <h5>PROFIL BEARBEITEN</h5>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput type="text" [(ngModel)]="name" placeholder="Name" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Telefon</mat-label>
        <input matInput type="text" [(ngModel)]="phone" placeholder="Telefon" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Code</mat-label>
        <input matInput type="text" [(ngModel)]="code" placeholder="Code" />
      </mat-form-field>
      <div class="submitButton">
        <button mat-raised-button color="primary" type="button" (click)="updateProfileInfo()">Speichern</button>
      </div>
    </div>
  </div>
</div>

  

<app-bottom-nav-bar></app-bottom-nav-bar>
