.container {
    display: flex;
    flex-direction: column;
    justify-content: center; // center vertically
    align-items: center; // center horizontally
    
    .text {
      margin-top: 10%; // add some margin between the elements
    }
  }

  .cards {
    margin: 5%;
  }
  