.container {
  display: flex;
  flex-direction: column;
  justify-content: center; // center vertically
  align-items: center; // center horizontally
  position: relative; // add position property

  .text {
    margin-top: 10%; // add some margin between the elements
  }
}

.cards {
  margin: 5%;
}

.example-button-container {
  position: absolute; // position it absolutely
  top: unset; // unset the top alignment
  bottom: 10%; // align to the bottom
  right: 0; // align to the right
  margin: 10px; // add some margin for spacing
}
