<div class="container">
  <div class="text">
    <h5>Selektieren Sie bitte einen Datum: </h5>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Datum</mat-label>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" [ngModel]="selectedDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="submitButton">
    <button mat-raised-button type="button">Suchen</button>
  </div>

</div>


<app-bottom-nav-bar></app-bottom-nav-bar>