<div class="container">
  <div class="text">
    <h1>Dashboard</h1>
  </div>
</div>

<div class="cards">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Heute</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button>Detailansicht</button>
    </mat-card-actions>
  </mat-card>
  <br />
  <mat-card>
    <mat-card-header>
      <mat-card-title>Letzte Woche</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button>Detailansicht</button>
    </mat-card-actions>
  </mat-card>
  <br />
  <mat-card>
    <mat-card-header>
      <mat-card-title>Letzter Monat</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button>Detailansicht</button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="example-button-container">
  <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
    <mat-icon>add</mat-icon>
  </button>
</div>

<app-bottom-nav-bar></app-bottom-nav-bar>

